.card {
    width: 373.64px;
    max-width: 432.24px;
    height: auto;
    max-height: 319.92px; 
    border-radius: 5px 5px 16px 16px;
    border: 4px solid; 
    box-sizing: border-box;
    flex-grow: 1;
    background-color: var(--cor-black2);
}

.capa_video {
    width: 100%;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    min-height: 67px;
}

.botoes img {
    width: 25.43px;
    height: 28px;
    margin-right: 15px;
}

